body {
	background: url(./css/grfx/bg.png);
	background-size: 100% 328px;
	background-position: 0px 267px;
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	margin-top: -25px;
}

div#header {
	background-image: url('css/grfx/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left 25% right 25%;
	margin-left: 25%;
	margin-right: 25%;
	height: 267px;
	max-width: 1000px;
	position: relative;
}

#header h1 {
	margin-bottom: 0;
	margin-left: 20px;
}

#header p {
	margin-top: 0;
	margin-left: 20px;
}

div#box {
	background-color: #FFFFFF;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1000px;
}

#box h2 {
	margin-top: 0px;
}

#box p img.top-left {
	float: left;
	padding: 0px 15px 15px 0px;
}

.top-right {
	float: right;
	padding: 0px 0px 15px 15px;
}

.middle-right {
	float: right;
	padding-top: 15px;
}

.bottom-left {
	float: left;
	padding: 15px 15px 15px 0px;
}

.bottom-right {
	float: right;
	padding: 15px 0px 15px 15px;
}

ul.top-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-top: 0;
	position: absolute;
	bottom: 20px;
	left: 0;
}

li {
	display: inline;
	padding: 14px 16px;
	text-align: left;
	color: #FFFFFF;
}

li a {
	text-decoration: none;
	color: #FFFFFF;
}

li a:hover {
	color: #0489B1;
}